/* Button CSS values for all buttons*/
.button {
    -fx-background-color:rgba(219, 167, 81, 0.7);
    -fx-background-radius: 30;
}

.button:hover {
    -fx-background-color:rgba(235, 184, 102, 0.75);
}

.button:pressed {
    -fx-background-color:rgba(235, 184, 102, 0.9);
}

/* Table CSS Values for scoreboard*/
.table-view {
    -fx-background-color: #ffdeaa;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.column-header-background { -fx-table-cell-border-color: transparent;}

.table-view .column-header-background .label{
    -fx-background-color: #ffdeaa;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, rgba(219, 167, 81, 0.7);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, rgba(235, 184, 102, 0.75);
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;
}

/*
Combobox settings
 */
.combo-box .list-cell
{
    -fx-background: black;
    -fx-background-color: rgba(235, 184, 102, 0.75);
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 3 0 2 7;
    -fx-cell-size: 2em;
}

.combo-box-popup .list-view
{
    -fx-background-color: #ffdeaa, white;
    -fx-background-insets: 0, 1;
    -fx-effect: dropshadow( three-pass-box , rgba(235, 184, 102,0.6) , 8, 0.0 , 0 , 0 );
}

.combo-box-popup .list-view .list-cell
{
    -fx-padding: 4 0 4 5;

    /* No alternate highlighting */
    -fx-background-color: #ffdeaa;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover
{
    -fx-background: -fx-accent;
    -fx-background-color: #ffdeaa;
    -fx-text-fill: darkgray;
}

.combo-box-popup .list-view .list-cell:filled:hover
{
    -fx-background-color: rgba(235, 184, 102, 0.75);
    -fx-text-fill: -fx-text-inner-color;
}

.combo-box-base
{
    -fx-background-color: white, white, white, white;
    -fx-background-radius: 5, 5, 4, 3;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-padding: 0;
}

.combo-box-base:hover
{
    -fx-color: -fx-hover-base;
}

.combo-box-base:showing
{
    -fx-color: -fx-pressed-base;
}

.combo-box-base:focused {
    -fx-background-color: -fx-focus-color, -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 6.4, 4, 5, 3;
    -fx-background-insets: -1.4, 0, 1, 2;
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}

